* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.game{

  width: 600px;
  height: 200px;
  border: 2px solid black;
  margin: auto;
  position: relative;
  background-image: url(tumb2.jpg);
  background-size: 600px 200px;
}
.dino{
  position: absolute;
  top: 90px;
  left: 10px;
  width: 61px;
  height: 80px;
  background-image: url(bros.png);
  background-size: contain;
}
.jump{
  animation: linear 0,3s example;

}
.cactus {
    width: 60px;
    height: 62px;
    position: relative;
    top: 97px;
    left: 503px;
    background-image: url(cactus.png);
    background-size: 59px 62px;
  animation: moveing 1.5s infinite linear ;

}

.cactusmove{
   animation: moveing 1.5s infinite linear ;


}
@keyframes example {  
  0%   { top: 50px}
  5%   { top: 20px}
  10%  { top: 90px}
}
@keyframes moveing {  

 
  0%   { left:550px;}  

  100% { left: 0px;} 

  
}
.score{
  width: 40px;
  height: 20px;
}